{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
    <h4 class="mt-4">Overview</h4>
    <p>The available data for objects is described in the following table.</p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Parameter</th>
                <th scope="col">SI Unit</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>radius</td>
                <td>km</td>
                <td>Radius of the object in kilometers</td>
            </tr>
            <tr>
                <td>mass</td>
                <td>kg</td>
                <td>Mass of the object in kilograms</td>
            </tr>
            <tr>
                <td>gravity</td>
                <td>m/s^2</td>
                <td>Acceleration due to gravity on the surface of the body</td>
            </tr>
        </tbody>
    </table>
    <h4 class="mt-4">Output</h4>
    <p><a href="{{ url_for('bodies') }}">{{ url_for('bodies') }}</a></p>
    <pre class="prettyprint"><code class="language-javascript" id="json-bodies"></code></pre>
</div>
{% endblock content %}
{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
<script>document.getElementById("json-bodies").innerHTML = JSON.stringify(httpGet("{{ url_for('bodies') }}"), undefined, 4)</script>
{% endblock %}