{% extends "layout.html" %}
{% block content %}
<img src="https://bit.ly/2yqUCkj" class="img-fluid" alt="Astro Image">
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">Object</th>
        <th scope="col">Radius (km)</th>
        <th scope="col">Mass (kg)</th>
    </tr>
    </thead>
    <tbody>
    {% for body in bodies %}
    <tr>
        <th>{{ body.name }}</th>
        <td>{{ body.radius }}</td>
        <td>{{ body.mass }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}